.menu{
    display: flex;
    flex-direction: column;
}
.menuItem {
    text-align: right;
    padding: 0 0.5rem;
}

.Notifications {
    border: 1px dashed red;
    padding: 10px;
    margin: 10px;
    position: relative;
    flex: 100%;
    max-width: 45vw;
    min-width: 45%;
}
.off{
    display: none;
}
.Notifications ul li:first-child{
    color: blue
}
.Notifications ul :nth-child(2){
    color: red;
}
.Notifications ul :nth-child(3){
    color: red;
}
