.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 10px;
}
.App-header{
  display: flex;
  align-items: center;
  border-bottom: 2px red solid;
}
.App-header h1{
  color: red;
}
.App-body{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 3rem;
}
.App-body form{
  display: flex;
  column-gap: 20px;
}
.App-footer{
  border-top: 2px red solid;
  text-align: center;
}
