.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 10px;
}
.App-body__Section{
  margin: 3rem;
}
.App__header_notifications{
  display: flex;
  border-bottom: 2px red solid;
  
}
.App-body{
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
